.carousel{
    display: flex;
    flex-direction: row;
}
.carousel-text, .carousel{
    background-color: beige;
    width: 90dvw;
    height: 43vh;
}
.carousel-text{
    margin-bottom: 10px;
}
.catalog-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}