.carousel{
    display: flex;
    flex-direction: row;
}
.carousel{
    background-color: beige;
    width: 90%;
    height: 43vh;
}
.carousel-text{
    width: 85%;
    margin-bottom: 10px;
    background-color: burlywood;
}
.catalog-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
