.delivery-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delivery-header{
    background-color: rgb(60, 208, 75);
    width: 90dvw;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery-header-text{
    width: 75dvw;
    height: 8vh;
    background-color: chocolate;
}

.delivery-multiple-img{
    background-color: rgb(32, 26, 199);
    width: 90dvw;
    height: 43vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img{
    background-color: cadetblue;
    width: 20%;
    height: 40%;
}

.delivery-footer{
    background-color: rgb(179, 20, 89);
    width: 90dvw;
    height: 43vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.delivery-text{
    background-color: rgb(192, 192, 32);
    width: 75dvw;
    height: 12vh;
    border: 1px solid black;
    margin-bottom: 10px;
}