.header-container{
    position: fixed;
    width: 100%;
    background-color: #535352;
    opacity: .6;
}
.nav-container{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.nav-ul{
    width: inherit;
    height: inherit;
    display: inherit;
    flex-direction: row;
    justify-content: right;
    list-style-type: none;
    /* background-color: rgb(76, 50, 192); */
    width: 70%;
    padding-right: 10px;
}

.nav-ul-home{
    display: flex;
    justify-content: center;
    align-self: center;
    list-style-type: none;
    /* background-color: aqua; */
    width: 30%;
    padding: 7.5px;

}

.homepage-btn{
    border-radius: 50px;
    width: 3.5em;
    height: 3.5em;
    background-color: #D8D9D8;
    border: 1px solid black;
    display: inherit;
    justify-content: center;
    align-items: center;
}

.aboutpage-btn,.contactpage-btn,.catalogpage-btn{
    width: 4.75em;
    height: 2.15em;
    background-color: #D8D9D8;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid black;
    display: inherit;
    justify-content: center;
    align-items: center;
}







.hide{
    animation: hide-anim .5s linear forwards
}
.unhide{
    animation: unhide-anim .5s linear forwards
}

@keyframes hide-anim {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-300px);
    }
}
@keyframes unhide-anim{
    0%{
        transform: translateY(-300px);
    }
    100%{
        transform: translateY(0px);
    }
}