.header-container{
    position: fixed;
    width: 100%;
    background-color: rgb(32, 211, 151);
}
.nav-container{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.nav-ul{
    width: inherit;
    height: inherit;
    display: inherit;
    flex-direction: row;
    justify-content: right;
    list-style-type: none;
}

.homepage-btn{
    border-radius: 100%;
    width: 4em;
    height: 4em;
    background-color: rgb(164, 219, 34);
}

.aboutpage-btn,.contactpage-btn,.catalogpage-btn{
    width: 5em;
    height: 4em;
    background-color: aliceblue;
    margin-right: 10px
}





.hide{
    animation: hide-anim .5s linear forwards
}
.unhide{
    animation: unhide-anim .5s linear forwards
}

@keyframes hide-anim {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-300px);
    }
}
@keyframes unhide-anim{
    0%{
        transform: translateY(-300px);
    }
    100%{
        transform: translateY(0px);
    }
}