.hero-text, .hero-image{
    width: 90dvw;
    height: 43vh;
    background-color: orangered;
}
.hero-text{
    width: 85%;
    height: 20%;
    margin-bottom: 20px;
}
.hero-image{
    width: 95%;
    height: 45%;
}
.hero-section{
    display: flex;
    flex-direction: column;  /* CHANGE TO "ROW" FOR OTHER SCREEN TYPES EXCEPT PHONES */
    align-items: center;
    justify-content: center;
}

.swipe{
    position:relative;
    top: 75px;
    width: 85%;
    background-color:yellow;
}