.hero-text, .hero-image{
    width: 90dvw;
    height: 43vh;
    background-color: orangered;
}
.hero-text{
    margin-bottom: 10px;
}
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
