.hero-text, .hero-image{
    width: 90dvw;
    height: 43vh;
    background-color: orangered;
}
.hero-text{
    width: 60%;
    height: 20%;
}
.hero-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
