.how-to-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    padding: 2em;
}

.ht{
    background-color: rgb(187, 187, 24);
    width: 100dvw;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.how-to-1{
    height: 15%;
    padding-bottom:0em 1em;
}

.how-to-2{
    height: 40%;
    padding-bottom:0em 1em;
}

.how-to-3{
    height: 34%;
}

.htxt{
    background-color: aliceblue;
}

.txt-image{
    width:70dvw;
    height: 80%;
    background-color: aliceblue;
}